<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/goty.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">GOTY</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active" >Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/goty']" routerLinkActive="active" >Votar</a>
            </li>

        </ul>
    </div>
</nav>